* {
  box-sizing: border-box;
}

.admin-modal canvas {
  width: 300px;
  height: 300px;
  background-color: grey;
}



input:focus {
  outline: unset;
}

.admin-modal button,
.admin-page-nav button,
.admin-search button {
  width: fit-content;
  background-color: #000;
  color: #fff;
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
  }
  &:active {
    transform: scaleY(1.1);
  }
}

.admin-add-modal-wrapper,
.admin-edit-modal-wrapper {
  display: none;
 
  &.active {
    display: flex;
  }
}
.admin-modal {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  width: fit-content;
  padding: 3rem 2rem;

  .admin-modal-info {
    display: flex;

    &__props {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 1rem;
      justify-content: center;
    }
    &__image {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 1rem;
      padding: 1rem;
    }
  }
  .admin-modal-btns {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    .flex-space {
      flex-grow: 1;
    }
  }
  
}


.admin-page-nav {
  background-color: #292929;
  position: absolute;
  z-index: 5;
  // right: -10rem;
  right: -2rem;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: 2rem;
  width: 15rem;
  height: 100vh;
  padding: 2rem 1rem;
  // transition: all 0.3s ease-in;

  &.onToggle {
    // transform: translateX(-9rem);
  }
  .admin-page-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & input {
    background-color: #fff;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
  }
}

.admin-search {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 3rem;
  input {
    width: 65vw;
    text-align: center;
    border: none;
    border-bottom: 2px solid #292929;
    padding: 0.5rem 1rem;
    font-size: 2rem;
  }
}

.admin-page__search-container {
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .admin-page-search {
    position: relative;
    width: 1200px;
    height: 70vh;
    overflow-y: scroll;
    border-top: 3px solid #292929;
    border-bottom: 3px solid #292929;
    margin-top: 2rem;
    & > .top-btn {
      position: absolute;
      bottom: 2rem;
      right: 1rem;
    }
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #292929;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
      border: 1px solid #292929;
    }
    &__row-header {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      position: sticky;
      z-index: 3;
      top: 0;
      background-color: #fff;
      filter: drop-shadow(0 0 10px grey);
    }

    span {
      word-break: break-all;
      padding: 2rem 1rem;
    }
    span,
    div {
      border: 1px solid #292929;
    }

    &__item {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-rows: minmax(160px, auto);
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #cdcdcd;
      }
      span:nth-child(3) {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

      &-image {
        img {
          width: 100%;
        }
      }
    }
  }
}
