@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
/* common */
a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
button {

}
.detailedItem {
  padding: 0 40px;
  color: #222;
}
.detailedItem .wrap {
  max-width: 1200px;
  margin: 0 auto;
}
section.detailedItem_item {
  display: flex;
}

/* item_floating*/
.item_floating {
  position: fixed;
  left: 0;
  right: 0;
  padding-bottom: 15px;
  background-color: #fff;
  -webkit-box-shadow: 4px 0 10px 0 rgb(0 0 0 / 10%);
  box-shadow: 4px 0 10px 0 rgb(0 0 0 / 10%);
  z-index: 1;
  .floating_wrap{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    .item_wrap {
      display: flex;
      align-items: center;
      padding-right: 40px;
      img {
        width: 100%;
        height: 100%;
      }
      .name_wrap {
        white-space: nowrap;
        p.name {
          line-height: 18px;
          font-size: 15px;
        }
        p.KORname {
          line-height: 14px;
          margin-top: 4px;
          font-size: 12px;
          letter-spacing: -.06px;
          color: rgba(34,34,34,.5)
        }
      }
    }
    a.wishlist_btn {
      width: 160px;
      height: 50px;
      margin-left: auto;
      line-height: 48px;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ebebeb;
      border-radius: 10px;
      color: #333;
      span.material-symbols-outlined {
        
      }
    }
    a.floatingPurchase_btn {
      width: 200px;
      height: 50px;
      background-color: #ef6253;
      border-radius: 10px;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-weight: 700;
    }
  }
}
.item_floating.hide {
  display: none;
}

section.detailedItem_item {
  margin-top: 150px;
  /* item_leftSide */
  .item_leftSide {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 600px;
    padding-right: 40px;
    .item_img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 500px;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .item_salesAlert {
      padding-top: 20px;
      a {
        display: block;
        position: relative;
        max-width: 560px;
        padding: 11px 12px 12px 11px;
        border-radius: 10px;
        border: 1px solid rgba(34,34,34,.05);
        box-shadow: 0 2px 6px rgb(0 0 0 / 12%);
        background-color: #fafafa;
        span.alertMark {
          line-height: 12px;
          padding: 3px 5px 2px;
          margin-right: 4px;
          border-radius: 2px;
          font-size: 12px;
          letter-spacing: -.06px;
          font-weight: 600;
          color: #fff;
          background-color: #ff8824;
        }
        span.alertHead {
          line-height: 15px;
          font-size: 13px;
          letter-spacing: -.07px;
          font-weight: 600;
        }
        p.alertText {
          line-height: 14px;
          margin-top: 4px;
          font-size: 12px;
          letter-spacing: -.06px;
          color: rgba(34,34,34,.5);
        }
        .material-symbols-outlined {
          /* content: e5c8; */
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(-50%, -50%);
          /* bottom: 50%; */
        }      
      }
    }
  }

  /* item_rightSide */
  .item_rightSide {
    box-sizing: border-box;
    flex-grow: 1;
    max-width: 599px;
    border-left: 1px solid #EBEBEB;
    padding-left: 40px;
    div {
      a.item_name {
        display: inline-block;
        vertical-align: top;
        line-height: 19px;
        padding-top: 1px;
        margin-bottom: 9px;
        font-size: 18px;
        letter-spacing: -.27px;
        font-weight: 800;
        border-bottom: 2px solid #222;
      }
    }
    p.item_title {
      margin-bottom: 4px;
      font-size: 18px;
      letter-spacing: -.09px;
      font-weight: 400;
    }
    small.item_KORtitle {
      line-height: 17px;
      font-size: 14px;
      letter-spacing: -.21px;
      letter-spacing: -.15px;
      color: rgba(34,34,34,.5);
    }
    .item_size {
      display: flex;
      justify-content: space-between;
      padding: 19px 0 12px;
      border-bottom: 1px solid #ebebeb;
      span.size_txt {
        display: inline-block;
        margin-top: 4px;
        line-height: 16px;
        font-size: 13px;
        letter-spacing: -.07px;
        color: rgba(34,34,34,.8);
      }
      a.size_btn {
        display: block;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -.21px;
        font-weight: 700;
        span.btn_txt {
          display: inline-block;
          margin-right: 5px;
          vertical-align: top;
        }
        span.material-symbols-outlined {

        }
      }
    }
    .item_price {
      display: flex;
      margin-top: 11px;
      min-height: 44px;
      span.price_txt {
        margin-right: auto;
        padding-top: 5px;
        font-size: 12px;
        color: rgba(34,34,34,.8);
      }
      span.price_nowPrice {
        line-height: 18px;
      }
      span.price_won {
        font-size: 18px;
        letter-spacing: -.27px;
      }
    }
    a.purchase_btn {
      display: block;
      height: 60px;
      margin-bottom: 12px;
      border-radius: 10px;
      text-align: center;
      line-height: 60px;
      font-size: 18px;
      letter-spacing: -.09px;
      font-weight: 700;
      background-color: rgb(239, 98, 83);
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
    a.wishlist_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      border: 1px solid #ebebeb;
      border-radius: 10px;
      color: #333;
      span.material-symbols-outlined.wishlist_mark {
        
      }
      span.wishlist_txt {
        margin-left: 4px;
        font-size: 15px;
      }
    }
    .delivery_wrap {
      margin-top: 20px;
      p.delivery_info_head {
        line-height: 17px;
        padding-bottom: 0;
        font-size: 14px;
        letter-spacing: -.21px;
        font-weight: 400;
        color: rgba(34,34,34,.8);
      }
      .delivery_info {
        display: flex;
        padding-top: 19px;
        padding-bottom: 10px;
        img.info_normal {
          width: 40px;
          height: 40px;
        }
        .info_txt {
          margin-left: 20px;
          p.info_up {
            font-size: 14px;
            letter-spacing: -.21px;
            line-height: 17px;
            span.bold {
              font-weight: 600;
            }
          }
          p.info_down {
            line-height: 16px;
            margin-top: 3px;
            font-size: 14px;
            color: rgba(34,34,34,.5);
          }
        }
      }
    }
    a.banner_pointBanner {
      display: flex;
      justify-content: center;
      height: 80px;
      background-color: rgb(39, 39, 39);
      margin-top: 20px;
      img {
        width: auto;
        margin: 0 auto;
        height: 100%;
        image-rendering: auto;
      }
    }
    .confirm_wrap {
      padding-top: 39px;
      h3 {
        display: block;
        padding-bottom: 12px;
        border-bottom: 1px solid #ebebeb;
        line-height: 22px;
        letter-spacing: -.27px;
        font-size: 1.17em;
        font-weight: bold;
      }
      .dropdown_head {
        display: flex;
        align-items: center;
        padding: 18px 0 17px;
        border-bottom: 1px solid #ebebeb;
        cursor: pointer;
        p {
          max-width: 320px;
          font-size: 15px;
          letter-spacing: -.15px;
        }
        .material-symbols-outlined {
          margin-left: auto;
        }
      }
      .dropdown_head.show {
        border-bottom: 1px solid #222;
        font-weight: 700;
      }
      .dropdown_content {
        padding: 20px 0;
        border-bottom: 1px solid #ebebeb;
        font-size: 13px;
        letter-spacing: -.07px;
        line-height: 16px;
        color: rgba(34,34,34,.8);
        strong.content_strong {
          display: block;
          margin-top: 10px;
          font-weight: 700;
          a {
            font-weight: 400;
            text-decoration: underline;
          }
        }
        p.content_title {
          margin-top: 20px;
        }
        p.content_main {
          margin-top: 10px;
          a{
            text-decoration: underline;
          }
        }
        p.content_sub {
          margin-top: 5px;
          font-size: 13px;
          letter-spacing: -.07px;
          color: rgba(34,34,34,.8);
        }
      }
      .dropdown_content.hide {
        display: none;
      }
    }
    .point_guide {
      padding-top: 40px;
      ul {
        li {
          display: flex;
          margin-top: 20px;
          .wrap {
            margin-left: 5px;
            strong {
              display: block;
              line-height: 16px;
              font-size: 13px;
              letter-spacing: -.07px;
              font-weight: 600;
              letter-spacing: normal;
            }
            p {
              margin-top: 1px;
              line-height: 16px;
              font-size: 13px;
              letter-spacing: -.07px;
              letter-spacing: normal;
              color: rgba(34,34,34,.5);
            }
          }
        }
        li:first-child {
          margin-top: 0;
        }
      }
    }
    p.item_info {
      margin-top: 40px;
      padding-top: 20px;
      line-height: 16px;
      border-top: 1px solid #f0f0f0;
      font-size: 12px;
      letter-spacing: -.05px;
      color: rgba(34,34,34,.5);
    }
  }
}

section.detailedItem_another {
  padding-top: 50px;
  .another_head {
    display: flex;
    padding-top: 50px;
    border-top: 1px solid #ebebeb;
    h3 {
      max-width: 100%;
      margin: 0 40px;
      line-height: 24px;
      font-size: 20px;
      letter-spacing: -.15px;
      span {
        font-weight: 700;
      }
    }
    a {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
  .another_body {
    margin-top: 50px;
    .product {
      .product__title {
        display: none;
      }
    }
  }
}

.purchase_popUp_background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(34, 34, 34, .5);
  .purchase_popUp {
    width: 580px;
    border: 1px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
    h3.popUp_title {
      line-height: 22px;
      padding: 18px 50px 20px;
      min-height: 60px;
      font-size: 18px;
      letter-spacing: -.27px;
      font-weight: 700;
      letter-spacing: -.15px;
      color: #000;
      text-align: center;
      background-color: #fff;
    }
    span.popUp_close {
      
    }
  }
}
.purchase_popUp_background.hide {
  display: none;
}