.discountbanner {
  height: 790px;
}

.discountbanner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery0 {
  height: 532px;
}

.exhibitsurgery1 {
  height: 290px;
}

.exhibitsurgery2 {
  height: 422px;
}

.exhibitsurgery3 {
  height: 907px;
}

.exhibitsurgery4 {
  height: 624px;
}

.exhibitsurgery5 {
  height: 235px;
}

.exhibitsurgery6 {
  height: 590px;
}

.exhibitsurgery7 {
  height: 250px;
}

.exhibitsurgery8 {
  height: 580px;
}

.exhibitsurgery9 {
  height: 204px;
}

.exhibitsurgery10 {
  height: 891px;
}

.exhibitsurgery0 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery7 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery8 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery9 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.exhibitsurgery10 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer0 {
  height: 532px;
}

.wnderkammer1 {
  height: 289px;
}

.wnderkammer2 {
  height: 422px;
}

.wnderkammer3 {
  height: 907px;
}

.wnderkammer4 {
  height: 640px;
}

.wnderkammer5 {
  height: 190px;
}

.wnderkammer6 {
  height: 670px;
}

.wnderkammer7 {
  height: 237px;
}

.wnderkammer8 {
  height: 609px;
}

.wnderkammer9 {
  height: 207px;
}

.wnderkammer10 {
  height: 891px;
}

.wnderkammer0 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer7 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer8 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer9 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer10 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wnderkammer11 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.payco0 {
  height: 612px;
}

.payco1 {
  height: 1132px;
}

.payco2 {
  height: 732px;
}

.payco3 {
  height: 866px;
}

.payco0 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.payco1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.payco2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.payco3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.toss0 {
  height: 612px;
}

.toss1 {
  height: 780px;
}

.toss2 {
  height: 924px;
}

.toss0 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.toss1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.toss2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.point0 {
  height: 671px;
}

.point1 {
  height: 1013px;
}

.point2 {
  height: 913px;
}

.point3 {
  height: 879px;
}

.point4 {
  height: 673px;
}

.point5 {
  height: 683px;
}

.point6 {
  height: 702px;
}

.point0 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.point1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.point2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.point3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.point4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.point5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.point6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=exhibitionsimg.css.map */