@mixin padding-lg() {
  padding: 50px 40px;
}

@mixin padding-md() {
  padding: 50px 40px;
}

@mixin padding-mobile() {
  padding: 50px 40px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto,
    AppleSDGothicNeo-Regular, NanumBarunGothic, NanumGothic, 나눔고딕, Segoe UI,
    Helveica, Arial, Malgun Gothic, Dotum, sans-serif;
  color: #222;
}
a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  color: rgba(34, 34, 34, 0.8);
  background-color: #fff;
}

.solid {
  font-weight: 700;
  color: #fff;
  background-color: #222;
}

.small {
  font-size: 12px;
  letter-spacing: -0.06px;
  padding: 0 14px;
  height: 34px;
}

footer {
  padding: 50px 40px;

  .inner {
    position: relative;

    .service_area {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      padding-bottom: 56px;
      border-bottom: 1px solid #ebebeb;

      .customer_service {
        .service_title {
          display: inline-flex;
          align-items: center;
          letter-spacing: -0.16px;
          font-weight: 700;

          .service_tel {
            margin-left: 4px;
            letter-spacing: normal;
          }
        } //End .service_title

        .service_time {
          padding-top: 8px;
          .time_box {
            line-height: 17px;

            .time_term {
              max-width: 263px;
              margin-right: 4px;
              font-size: 13px;
              letter-spacing: -0.07px;
              color: rgba(34, 34, 34, 0.5);
              line-height: 20px;
              &.lg {
                max-width: 263px;
              }
            }
          }
        } //End .service_time

        .service_noti {
          padding-top: 8px;
          font-size: 13px;
          letter-spacing: -0.07px;
        }

        .service_btn_box {
          padding-top: 17px;
        }
      } //End .customer_service

      .footer_menu {
        display: flex;

        .menu_box {
          width: 160px;

          .menu_title {
            font-size: 16px;
            letter-spacing: -0.16px;
          }

          .menu_list {
            padding-top: 16px;

            .menu_item {
              &:not(&:nth-child(1)) {
                margin-top: 12px;
              }
              .menu_link {
                display: inline-block;
                font-size: 14px;
                letter-spacing: -0.21px;
                color: rgba(34, 34, 34, 0.5);
              }
            }
          } //End .menu_list
        } //End .menu_box
      } //End .footer_menu
    } //End .service_area

    .corporation_area {
      position: relative;
      margin-top: 30px;

      .term_list {
        padding-bottom: 16px;
        display: inline-flex;

        .term_item {
          margin-right: 20px;

          > a {
            display: block;
            font-size: 14px;
            letter-spacing: -0.21px;
            color: #000;
          }

          &.privacy {
            > a {
              font-weight: 700;
            }
          }
        } //End .term_item
      } //End .term_list
      .footer_sns {
        position: absolute;
        top: 0;
        right: 0;

        .sns_box {
          font-size: 0;
          display: flex;
          align-items: center;
          gap: 24px;
          justify-content: end;
        }

        .btn_business {
          display: none;
        }
      } //End .footer_sns

      .business_info {
        .info_list {
          .info_item {
            .business_title {
              width: 653px;
              line-height: 20px;
              font-size: 13px;
              letter-spacing: -0.07px;
              color: rgba(34, 34, 34, 0.5);

              &.lg {
                max-width: 653px;
              }
              .blank {
                margin-right: 17px;
              }
            } //End .business_title
          } //End .info_item
        } //End .info_list
      } //End .business_info
    } //End .corperation_area

    .notice_guarantee {
      padding: 40px 0 8px;
      font-size: 12px;
      letter-spacing: -0.06px;

      .title {
        font-weight: 700;
      }
      .description {
        margin-top: 4px;
        color: rgba(34, 34, 34, 0.5);

        .link_guarantee {
          margin-left: 4px;
          text-decoration: underline;
        }
      }
    } //End .notice_guarantee

    .notice_area {
      padding-top: 12px;
      display: flex;
      align-items: flex-end;
      .notice {
        max-width: 605px;
        font-size: 12px;
        letter-spacing: -0.06px;
        color: rgba(34, 34, 34, 0.4);
      }

      .copyright {
        margin-left: auto;
        flex-shrink: 0;
        font-size: 12px;
        color: rgba(34, 34, 34, 0.3);
      }
    } //End .notice_area
  } //End .inner
} //End footer
