a {
  text-decoration: none;
}

.login {
  margin: 0;
  padding: 0;

  &__area {
    margin: 0 auto;
    padding: 60px 0 160px;
    width: 400px;
  }
  &__title {
    padding-bottom: 50px;
    text-align: center;
    font-size: 0;
    &::before {
      content: '';
      display: inline-block;
      width: 250px;
      height: 56px;
      background: url(https://kream.co.kr/_nuxt/img/login_title.9f9ccc8.png);
      background-size: 250px 56px;
    }
  }

  &__input_box {
    padding: 10px 0 14px;

    h3 {
      font-size: 13px;
      letter-spacing: -0.07px;
      line-height: 18px;
    }
  }

  &__input {
    &__item {
      padding: 8px 0;
      width: 100%;
      font-size: 15px;
      letter-spacing: -0.15px;
      line-height: 22px;
      border-bottom: 1px solid #ebebeb;
    }

    &__text {
      outline: 0;
      border: 0;
    }
  }

  &__btn {
    padding-top: 20px;
    box-sizing: border-box;

    &__link {
      font-weight: 700;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 100%;
      font-size: 16px;
      letter-spacing: -0.16px;
      height: 52px;
      border-radius: 12px;
      background-color: #000;
      &.disable {
        background-color: #ebebeb;
        cursor: default;
      }
    }
  }
}

.content {
  &.lg {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
  }
}
