input {
  border: none;
}
input:focus {
  outline-style: none;
}

.modal-inner {
  padding: 0 32px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-container.hidden {
  display: none;
}
.modal-container .modal {
  width: 520px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.modal-container .modal .modal-header {
  position: relative;
}
.modal-container .modal .modal-header__close-btn {
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
}
.modal-container .modal .modal-header__title {
  line-height: 22px;
  padding: 18px 50px 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.15px;
  color: #000;
  text-align: center;
  background-color: #fff;
}
.modal-container .modal .add-modal-section {
  padding: 10px 0 14px;
  width: 100%;
  position: relative;
}
.modal-container .modal .add-modal-section__title {
  font-size: 13px;
  letter-spacing: -0.07px;
  line-height: 18px;
  font-weight: bold;
}
.modal-container .modal .add-modal-section__input {
  padding: 8px 0;
  width: 100%;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 22px;
  border-bottom: 1px solid #ebebeb;
}
.modal-container .modal .add-modal-section__input-error {
  line-height: 16px;
  font-size: 11px;
  color: #f15746;
}
.modal-container .modal .add-modal-section > button {
  position: absolute;
  right: 0;
}
.modal-container .modal .add-modal__btns {
  padding-top: 32px;
  padding: 24px 32px 32px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.modal-container .modal .add-modal__btns button {
  width: 120px;
  height: 42px;
}
.modal-container .modal .acc-modal__account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.modal-container .modal .acc-modal__account.swiper-container {
  position: relative;
  height: auto;
}
.modal-container .modal .acc-modal__account.swiper-container .swiper-button-prev,
.modal-container .modal .acc-modal__account.swiper-container .swiper-button-next {
  width: 15px;
  height: 15px;
}
.modal-container .modal .acc-modal__account.swiper-container > .swiper-wrapper {
  height: auto;
}
.modal-container .modal .acc-modal__account.swiper-container > .swiper-wrapper > .swiper-slide {
  height: auto;
}
.modal-container .modal .acc-modal__account-item {
  background-color: #ebebeb;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid #000;
}
.modal-container .modal .acc-modal__account-item.empty {
  background-color: #fafafa;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}
.modal-container .modal .acc-modal__account-item.empty > span {
  height: 45px;
}
.modal-container .modal .acc-modal__account-item > span {
  font-family: Apple SD Gothic Neo;
  display: block;
  height: 30px;
  font-weight: bold;
  line-height: 25px;
  font-size: 17px;
  text-align: center;
}
.modal-container .modal .acc-modal__account-item > span:first-of-type {
  margin-top: 32px;
}
.modal-container .modal .acc-modal__account-item > span:last-of-type {
  margin-bottom: 32px;
}
.modal-container .modal .acc-modal__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: capitalize;
  color: rgba(34, 34, 34, 0.5);
  padding-top: 12px;
}
.modal-container .modal .acc-modal__receipt {
  margin-top: 1rem;
}
.modal-container .modal .acc-modal__receipt-apply {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-container .modal .acc-modal__receipt-apply h1 {
  font-size: 15px;
  font-weight: 600;
}
.modal-container .modal .acc-modal__receipt-apply .receipt__radios input {
  margin-right: 6px;
}
.modal-container .modal .acc-modal__receipt-select {
  padding: 17px 12px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  width: 100%;
}
.modal-container .modal .acc-modal__receipt-input {
  padding: 17px 12px;
  border: 1px solid #ebebeb;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
}
.modal-container .modal .acc-modal__receipt-save {
  margin-top: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.modal-container .modal .acc-modal__btns {
  margin-top: 60px;
  padding: 10px 20px;
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-container .modal .newAcc-modal__input {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.modal-container .modal .newAcc-modal__input > select {
  padding: 17px 12px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  width: 100%;
}
.modal-container .modal .newAcc-modal__input > input {
  padding: 17px 12px;
  border: 1px solid #ebebeb;
  margin-top: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
}
.modal-container .modal .newAcc-modal__input > input::-webkit-inner-spin-button {
  display: none;
}
.modal-container .modal .newAcc-modal__input-sig {
  padding: 20px 0;
  width: 100%;
  text-align: end;
}
.modal-container .modal .newAcc-modal__btns {
  padding: 20px 0;
  width: 100%;
  text-align: end;
}/*# sourceMappingURL=paymentModal.css.map */