canvas {
  width: 400px;
  height: 400px;
  background-color: royalblue;
}

.admin-container {
  width: 80vw;
  .interactive {
    display: flex;
    gap: 25px;
  
    .item-info {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .image-field {
      display: flex;
      flex-direction: column;
    }
  }
}