* {
  box-sizing: border-box;
}

canvas {
  width: 300px;
  height: 300px;
  background-color: grey;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

input:focus {
  outline: unset;
}

.admin-modal {
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3rem 2rem;
  visibility: hidden;
}
.admin-modal .admin-modal-info {
  display: flex;
}
.admin-modal .admin-modal-info__props {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  justify-content: center;
}
.admin-modal .admin-modal-info__image {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding: 1rem;
}
.admin-modal .admin-modal-btns {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.admin-modal .admin-modal-btns .flex-space {
  flex-grow: 1;
}
.admin-modal.active {
  visibility: visible;
}

.admin-page-nav {
  background-color: #292929;
  position: absolute;
  z-index: 5;
  right: -10rem;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  gap: 2rem;
  width: 15rem;
  height: 100vh;
  padding: 2rem 1rem;
  transition: all 0.3s ease-in;
}
.admin-page-nav.onToggle {
  transform: translateX(-9rem);
}
.admin-page-nav .admin-page-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.admin-page-nav button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.admin-page-nav input {
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

.admin-search {
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 3rem;
}
.admin-search input {
  width: 65vw;
  text-align: center;
  border: none;
  border-bottom: 2px solid #292929;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}
.admin-search button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.admin-page__search-container {
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-page__search-container .admin-page-search {
  position: relative;
  width: 1200px;
  height: 70vh;
  overflow-y: scroll;
  border-top: 3px solid #292929;
  border-bottom: 3px solid #292929;
  margin-top: 2rem;
}
.admin-page__search-container .admin-page-search > .top-btn {
  position: absolute;
  visibility: hidden;
  bottom: 2rem;
  right: 1rem;
}
.admin-page__search-container .admin-page-search > .top-btn.active {
  visibility: visible;
}
.admin-page__search-container .admin-page-search::-webkit-scrollbar {
  width: 8px;
}
.admin-page__search-container .admin-page-search::-webkit-scrollbar-thumb {
  background-color: #292929;
  border-radius: 3px;
}
.admin-page__search-container .admin-page-search::-webkit-scrollbar-track {
  border: 1px solid #292929;
}
.admin-page__search-container .admin-page-search__row-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  position: sticky;
  z-index: 3;
  top: 0;
  background-color: #FFF;
  filter: drop-shadow(0 0 10px grey);
}
.admin-page__search-container .admin-page-search span {
  word-break: break-all;
  padding: 2rem 1rem;
}
.admin-page__search-container .admin-page-search span, .admin-page__search-container .admin-page-search div {
  border: 1px solid #292929;
}
.admin-page__search-container .admin-page-search__item {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(160px, auto);
  transition: background-color 0.3s ease;
}
.admin-page__search-container .admin-page-search__item:hover {
  background-color: #cdcdcd;
}
.admin-page__search-container .admin-page-search__item span:nth-child(3) {
  cursor: pointer;
}
.admin-page__search-container .admin-page-search__item span:nth-child(3):hover {
  text-decoration: underline;
}
.admin-page__search-container .admin-page-search__item-image img {
  width: 100%;
}/*# sourceMappingURL=test.css.map */