input {
  border: none;

  &:focus {
    outline-style: none;
  }
}

.modal-inner {
  padding: 0 32px;
}



.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.4);

  &.hidden {
    display: none;
  }
  .modal {
    width: 520px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
    background-color: #fff;

    .modal-header {
      position: relative;
      &__close-btn {
        position: absolute;
        top: 18px;
        right: 20px;
        cursor: pointer;
      }

      &__title {
        line-height: 22px;
        padding: 18px 50px 20px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: -0.15px;
        color: #000;
        text-align: center;
        background-color: #fff;
      }
    } //add-modal-header ends

    .add-modal {
      &-section {
        padding: 10px 0 14px;
        width: 100%;
        position: relative;
        &.hasError &__title {
        }
        &.hasError &__input-error {
          // visibility: visible;
        }

        &__title {
          font-size: 13px;
          letter-spacing: -0.07px;
          line-height: 18px;
          font-weight: bold;
        }

        &__input {
          padding: 8px 0;
          width: 100%;
          font-size: 15px;
          letter-spacing: -0.15px;
          line-height: 22px;
          border-bottom: 1px solid #ebebeb;
        }

        &__input-error {
          // visibility: hidden;
          line-height: 16px;
          font-size: 11px;
          color: #f15746;
        }

        & > button {
          position: absolute;
          right: 0;
        }
      } //add-modal-section ends

      &__btns {
        padding-top: 32px;
        padding: 24px 32px 32px;
        display: flex;
        justify-content: center;
        column-gap: 10px;
        button {
          width: 120px;
          height: 42px;
        }
      }
    } //add-modal ends

    .acc-modal {
      
      &__account {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        &.swiper-container {
          position: relative;
          height: auto;
          
          .swiper-button-prev,
          .swiper-button-next {
            // top: 50%;
            width: 15px;
            height: 15px;
          }
          
          & > .swiper-wrapper {
            height: auto;

            & > .swiper-slide {
              height: auto;
            }
          }
        }
        

        &-item {
          background-color: #ebebeb;
          border-radius: 10px;
          cursor: pointer;
          border: 3px solid #000;

          &.empty {
            background-color: #fafafa;
            border: 3px dotted rgba(0,0,0, 0.1);
          }
          
          & > span {
            font-family: Apple SD Gothic Neo;
            display: block;
            height: 50px;
            font-weight: bold;
            line-height: 25px;
            font-size: 17px;
            text-align: center;
          }

          & > span:first-of-type {
            margin-top: 32px;
    
          }
          & > span:last-of-type {
            margin-bottom: 32px;
          }

        }
      }//acc-modal__account ends

      &__text {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-transform: capitalize;
        color: rgba(34,34,34,.5);
        padding-top: 12px;
      }

      &__receipt {
        margin-top: 1rem;
        &-apply {
          display: flex;
          justify-content: space-between;
          padding: 1rem 0;
          border-top: 1px solid rgba(0,0,0, 0.1);

          h1 {
            font-size: 15px;
            font-weight: 600;
          }

          .receipt__radios {
            input {
              margin-right: 6px;
            }
          }
        }

        &-select {
          padding: 17px 12px;
          border: 1px solid #ebebeb;
          border-radius: 10px;
          width: 100%;
        }

        &-input {
          padding: 17px 12px;
          border: 1px solid #ebebeb;
          margin-top: 8px;
          box-sizing: border-box;
          border-radius: 10px;
          width: 100%;
        }

        &-save {
          margin-top: 12px;
          font-size: 14px;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      &__btns {
        margin-top: 60px;
        padding: 10px 20px;
        text-align: right;
        border-top: 1px solid rgba(0,0,0, 0.1);

      }

    }//acc-modal ends

    .newAcc-modal {
      
      &__input {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;

        & > select {
          padding: 17px 12px;
          border: 1px solid #ebebeb;
          border-radius: 10px;
          width: 100%;
        }
        & > input {
          padding: 17px 12px;
          border: 1px solid #ebebeb;
          margin-top: 8px;
          box-sizing: border-box;
          border-radius: 10px;
          width: 100%;

          &::-webkit-inner-spin-button {
            display: none;
          }
        }
        &-sig {
          padding: 20px 0;
          width: 100%;
          text-align: end;
        }
      }

      &__btns {
        padding: 20px 0;
        width: 100%;
        text-align: end;
      }
    }
  }//modal ends

  
} //modal-container ends
